:root {
  // Colours
  --clr-primary-blue-soft: hsl(215 51% 70%);
  --clr-primary-cyan: hsl(178 100% 50%);

  --clr-blue-dark: hsl(215 32% 27%);
  --clr-blue-darker: hsl(216 50% 16%);
  --clr-blue-darkest: hsl(217 54% 11%);

  --clr-white: hsl(0 0% 100%);

  --clr-card-bg: var(--clr-blue-darker);
  --clr-line: var(--clr-blue-dark);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: var(--clr-blue-darkest);
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: var(--clr-white);
  margin: 2rem;
}

p {
  color: var(--clr-primary-blue-soft);
}

.card {
  background-color: var(--clr-card-bg);
  width: 350px;
  border-radius: 15px;
  padding: 2rem;
  margin: auto;
  margin-top: 2rem;
}

.card--img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

.card--heading {
  color: var(--clr-white);
  font-size: 22px;
  font-weight: 600;
}

.card--details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--details > span {
  display: flex;
  align-items: center;
}

.card--details img {
  margin-right: 0.35rem;
}

.card--details-ethereum {
  color: var(--clr-primary-cyan);
}

.card--details-days-left {
  color: var(--clr-primary-blue-soft);
}

.card--creator {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--clr-line);
  padding-top: 1rem;
}

.card--creator-name {
  color: var(--clr-white);
}

.card--avatar {
  height: 33px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.flow > * + * {
  margin-top: 1.5rem;
}
